.searchContainer {
    margin: auto;
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}
.searchInput {
        width: 100%;
        background-color: rgb(255, 255, 255,0.3);
        border: none;
        border-bottom: white 3px solid;
        border-radius: 0;
        box-shadow: none;
        outline: none;
        &:hover{
            box-shadow: 1px 1px 5px white;
        }
}